[submodule "parsers/java"]
	path = parsers/java
	url = git@github.com:tree-sitter/tree-sitter-java.git
[submodule "parsers/bash"]
	path = parsers/bash
	url = git@github.com:tree-sitter/tree-sitter-bash.git
