!docs/yarn.lock
**/package-lock.json
**/yarn.lock
*.csv
*.log
*.tgz
*.tsbuildinfo
*.txt
*.zip
.nvmrc
.nyc_output
.vscode
dist/
dolos-analysis-*
dolos-report-*/
node_modules/
vetur.config.js
yarn-error.log
