node_modules
dist

coverage
.nyc_output

yarn-error.log
.vscode
samples/**
temp.html
src/lib/__benchmarks__/*.json
src/lib/__benchmarks__/*.html

!samples/js
!samples/js/benchmarkFiles
!samples/js/benchmarkFiles/*
!samples/js/sample.js
!samples/js/copied_function.js
!samples/js/another_copied_function.js
