/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.row
  display flex
  flex-direction row
  flex-wrap wrap
  width 100%
  gap 1 rem

.column
  display flex
  flex-direction column
  flex 1

.center-content
  justify-content center
  align-content center
  display flex

@media (max-width: $MQNarrow)
  .row
    flex-direction column

.link-button
  display inline-block
  font-size 1.2rem
  color #fff
  background-color $accentColor
  padding 0.8rem 1.6rem
  border-radius 4px
  transition background-color .1s ease
  box-sizing border-box
  border-bottom 1px solid darken($accentColor, 10%)
  &:hover
    background-color lighten($accentColor, 10%)