.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center-content {
  justify-content: center;
  align-content: center;
  display: flex;
}

.link-button {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--c-bg);
  background-color: var(--c-brand);
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background-color .1s ease;
  box-sizing: border-box;
  border-bottom: 1px solid var(--c-border);
  &:hover {
    background-color: var(--c-brand-light);
  }
}
